* {
  color: white;
}

/*** BODY ***/
body {
  background-color: black;
}

/*** NAVBAR ***/
.navbar-nav> li > a {
  text-transform: uppercase;
  color: white !important;
}

/*** MAIN ***/
.main-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.shadow:hover .overlay {
  opacity: 1;
}

/*** FOOTER ***/
.dota-footer{
  margin-top: 50px;
  padding: 25px;
  /* color: black !important; */
  text-align: center;
  background-color: #6c757d;
  /* border-top: .05rem solid #e5e5e5; */
}

.dota-footer > p{
  color: white;
  text-transform: uppercase;
}

.dota-footer > p > a {
  text-decoration: none ;
  color: white;
}

.dota-footer > p > a:hover {
  color: red;
}